@import 'modules/sanitize.css';

@supports not (selector(:where(*))) { 
  
  body::before { display: block; content: '@supports, no-where'; background-color: var(--debug-bgclr-no-where); }

  html::before { display: none !important; content: 'css fallback applied'; }

  /* Reset
  /* ----------------------------------------------- */

  body,div,section,main,article,aside,footer,header,nav,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,fieldset,details,dl,dt,dd,ol,ul,ol,form,legend,figure,figcaption,hr,li,summary,table,thead,tbody,tfoot,col,colgroup,tr,td,th,caption,span,a,cite,code,del,dfn,em,ins,kbd,q,s,samp,object,small,strong,sub,sup,var,b,u,i,time,mark,abbr,label,embed,output,audio,br,bdo,select,textarea,button,input,acronym,big,strike,tt,center,hgroup,menu,frame,frameset,noframes,map{margin:inherit;margin:unset;padding:inherit;padding:unset;background:inherit;background:unset;color:inherit;color:unset;border:inherit;border:unset;border-style:inherit;border-style:unset;border-width:inherit;border-width:unset;font:inherit;font:unset;text-decoration:inherit;text-decoration:unset;list-style:inherit;list-style:unset;cursor:inherit;cursor:unset;outline:inherit;outline:unset;all:inherit;all:unset}body,div,section,main,article,aside,footer,header,nav,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,fieldset,details,form,legend,figure,figcaption,hr,dl,dt,dd,ol,ul,ol{display:block}li,summary{display:list-item}table{display:table}thead{display:table-header-group}tbody{display:table-row-group}tfoot{display:table-footer-group}col{display:table-column}colgroup{display:table-column-group}tr{display:table-row}td,th{display:table-cell}caption{display:table-caption}body,div,section,main,article,aside,footer,header,nav,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,fieldset,details,dl,dt,dd,ol,ul,ol,form,legend,figure,figcaption,hr,li,summary,table,thead,tbody,tfoot,col,colgroup,tr,td,th,caption,span,a,cite,code,del,dfn,em,ins,kbd,q,s,samp,object,small,strong,sub,sup,var,b,u,i,time,mark,abbr,label,embed,output,audio,br,bdo,select,textarea,button,input,acronym,big,strike,tt,center,hgroup,menu,frame,frameset,noframes,map{display:revert}

  * ----------------------------------------------- */

 [hidden] {
  display: none;
 }

  [contenteditable]:not([contenteditable="false"]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: after-white-space;
    -webkit-user-select: auto;
    user-select: auto;
  }

}

@supports (selector(:where(*))) { 
  
  body::before { display: block; content: '@supports, where'; background-color: var(--debug-bgclr-native); }

  /* Reset
  /* ----------------------------------------------- */

  *:where(:not(html):not(iframe):not(canvas):not(img):not(video):not(svg)) {
    all: unset;
    display: revert;
  }
  *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
  }

  /* ----------------------------------------------- */

  :where([hidden]) {
    display: none;
  }

  :where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: after-white-space;
    -webkit-user-select: auto;
    user-select: auto;
  }

}

/* Restore & Fix
/* ----------------------------------------------- */

@-ms-viewport {width: device-width;}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

 ::before,
 ::after {
   text-decoration: inherit; /* 1 */
   vertical-align: inherit; /* 2 */
 }
 
 /**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Breaks words to prevent overflow in all browsers (opinionated).
  * 4. Use a 4-space tab width in all browsers (opinionated).
  * 5. Remove the grey highlight on links in iOS (opinionated).
  * 6. Prevent adjustments of font size after orientation changes in iOS.
  */
 
 :root {
   cursor: default; /* 1 */
   line-height: 1.15;
   overflow-wrap: break-word; /* 3 */
   -moz-tab-size: 4; /* 4 */
   tab-size: 4; /* 4 */
   -webkit-tap-highlight-color: transparent; /* 5 */
   -webkit-text-size-adjust: 100%; /* 6 */
 }

a, button {
  cursor: revert;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, mark, u, s {
  all: revert;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

select.form-control::-ms-expand, 
input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  white-space: revert;
}


meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:is(:not(img):not(track):not(br):not(input):not(hr):not(col):not(source):not(base):not(area):not(param):not(wbr)):empty {
  display: none;
}

@media (prefers-reduced-motion: reduce) {

  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}