/* Load Modules
/* ========================================================================== */

@import 'modules/typography.css';

/* Configuration
/* ========================================================================== */

:root {
  --debug-bgclr-native: lime;
  --debug-bgclr-no-where: yellow;
  --debug-bgclr-js-fallback: orange;
}

:root {

  --baseunit: 1rem;

  --font-family-primary: 'Open Sans';
  --font-size-regular: 1rem;

  /* Scaling */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: var(--font-size-regular);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

/* Base
/* ========================================================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

iframe,
canvas,
img,
svg,
picture,
input,
video,
select,
textarea {
  height: auto;
  max-width: 100%;
}

/* Restore Content Styles
/* ------------------------------------------------- */

main ul, main ol {
  list-style-position: inside;
}
main ul ul, main ul ol, main ol ul, main ol ol {
  padding-left: 1em;
  margin-bottom: 0;
}
main ul {
  list-style-type: disc;
}
main ol {
  list-style-type: decimal;
}
main em {
  font-style: italic;
}

/* ========================================================================== */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-top: var(--space, 1.5rem);
}