/* @import 'reset.legacy.css'; */

/* @supports (selector(:where(*))) {

  html::before {
    display: block;
    content: '@supports, :where()';
    background-color: lime;
    position: fixed;
    top: 0;
    right: 0;
  }

} */

/* :where(html)::before {
  display: block;
  content: '@supports, :where()';
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
} */

/* *:where(:not(html):not(iframe):not(canvas):not(img):not(video):not(svg):not(svg *):not(symbol *)) {
  all: unset;
  display: revert;
  background-color: lime;
} */

*:where(:not(html):not(img):not(svg)) {
  all: unset;
  display: revert;
  background-color: yellow;
}

*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  background-color: lime;
}