@import 'reset.legacy.css';

@supports (selector(:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)))) {

  html::before {
    display: block;
    content: '@supports, :where()';
    background-color: lime;
    position: fixed;
    top: 0;
    right: 0;
  }

  *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
  }

}